.main-container{
  background-color: $white;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  .navigation{
    position: fixed;
    width: 170px;
    height: 100%;
    padding-top: 20px;
  }
  .main{
    padding-left: 200px;
    padding-right: 30px;
  }
}


@include media-breakpoint-down(sm){
  .main-container{
    flex-direction: column;
    .navigation{
      height: 40px;
      position: relative;
      width: 100%;
      padding: 8px 5px;
      flex-basis: auto;
    }
    .main{
      width: 100%;
      padding:15px 45px;
      flex-basis: auto;
    }
  }
}
